<h1>Name: <%= @pirate.name %></h1>
<h1>Height: <%= @pirate.height %></h1>
<h1>Weight: <%= @pirate.weight %></h1>




<h2>First Ship:</h2>
<h3><%= @ships.first.name %></h3>
<h3><%= @ships.first.type %></h3>
<h3><%= @ships.first.booty %></h3>



<h2>Second Ship:</h2>
<h3><%= @ships[1].name %></h3>
<h3><%= @ships[1].type %></h3>
<h3><%= @ships[1].booty %></h3>
